@media screen and (max-width:414px)
{
 /*instruction*/
/* display :block permet de mettre la présentation en block jusquà un certaine taille*/
 #presentation.flex{display: block;padding: 0.8em;}
 .flex {display: block;}

 #slider{display: none;}
    #boutique div:first-child img {border-radius:100px 0px ;}

    #boutique div:last-child img {border-radius:0 100px;}


}

@media screen and (min-width: 600px) and (max-width :768px)
{
section{padding: 1em;}
#slider{padding: 0;text-align: center;}
#slider h1,#slider h2{padding: 1em;}
/* fond rouge*/

#presentation.flex{display: block;}
#presentation div{margin: bottom 1em;}
#produit article{flex:0 0 35%}

#infos{display: block;text-align: center;}
#Contact div {flex: 0 0 40%;}
#Contact div:nth-child(2) {padding:0 0.5em;}

#boutique div{flex: 0 0 40%;}
#boutique div:first-child img {border-radius: 60px 0px;}
#boutique div:last-child {display:none;}


#Contact {align-items:center;}
#slider button {width: 30%;}


}
/*sur les ecrans en mode paysage*/
@media all and (max-width:768px){
    #compteur{display: none;}
    section{padding:1em 0;}
    small {margin-top: 1em;}
}